body{
    background: #2A7B9B;
    background: linear-gradient(60deg, rgba(42, 123, 155, 1) 0%, rgba(151, 222, 178, 1) 50%, rgba(83, 121, 237, 1) 100%);
}

.posts-scroll{
    background-color: darkgray;
    border: 5%;
    padding-left: 80px;
    padding-right: 80px;
    width: 65%;
    margin:auto;
    box-sizing:border-box;
    height: 640px;
    overflow-x: auto;
}

.post-creation{
    height: 300px;
    width: 100%;
    position: relative;
}